[submodule "external/zip.js"]
	path = external/zip.js
	url = git://github.com/gildas-lormeau/zip.js
[submodule "external/sjcl"]
	path = external/sjcl
	url = https://github.com/bitwiseshiftleft/sjcl.git
[submodule "external/jquery"]
	path = external/jquery
	url = https://github.com/jquery/jquery.git
[submodule "external/jasmine"]
	path = external/jasmine
	url = https://github.com/pivotal/jasmine.git
